.blog-post {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 20px;
  padding-top: 10px;
  flex-wrap: wrap;
}

.post-image img {
  max-width: 600px;
  border-radius: 4%;
  border: 5px solid #000;
  height: 600px;
  margin: 10px 0;
}

.farmer-image img {
  max-width: 600px;
  border-radius: 4%;
  height: 600px;
  margin: 10px 0;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .blog-post {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  .post-image img, .farmer-image img {
    max-width: 90%;
    height: auto;
    margin: 10px 0;
  }
}

.navigation {
  margin-top: 20px;
}
